<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="kosher catering service for jewish events">
    <meta name="keywords" content="kosher catering, kosher food, kosher event, kosher takeaway, jewish event food, jewish celebration food">
    <title>DANkosher | Events</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/5ead29c332.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>DAN<span class="highlight">kosher</span> <i class="fas fa-star-of-david"></i></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="current"><a href="events.html">Events</a></li>
                    <li><a href="takeaway.html">Take Away</a></li>
                    <li><a href="contactus.html">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="newsletter">
        <div class="container">
            <h1>Suscribe To Our Newsletter</h1>
            <form> <!--action missing-->
                <input type="email" placeholder="Enter E-mail...">
                <button type="submit" class="button_1">Suscribe</button>
            </form>
        </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
                <i class="fas fa-utensils fa-3x"></i>
                <h3>Bar Mitzvah</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ea corrupti nesciunt esse.</p>
            </div>
            <div class="box">
                <i class="fas fa-shipping-fast fa-3x"></i>
                <h3>Hanukkah</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ea corrupti nesciunt esse.</p>
            </div>
            <div class="box">
                <i class="fas fa-pen fa-3x"></i>
                <h3>Wedding</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ea corrupti nesciunt esse.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>Kosher Catering Service, Copyright &copy; 2020</p>
    </footer>
</body> 
</html>  