<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Send Message</title>
    </head>
    <body>
        <form method="post" action="/sendMessage">
            <!-- Customer creation part -->
            <span>Enter Name</span>
            <input type=text name="fullName" placeholder="Full name" required>

            <span>Enter Email</span>
            <input type="email" name="email" placeholder="example@gmail.com" required>

            <span>Enter phone number (optional)</span>
            <input type="tel" name="phone" placeholder="16 24 85 32" pattern="[0-9]{8}">

            <span>Check to subscribe to our newsletter</span>
            <input type="checkbox" name="isSubscribed" value="1">

            <!-- Message creation part -->
            <span>Message subject</span>
            <input type="text" name="subject" placeholder="Subject">
            <textarea name="content" placeholder="Additional info: " cols=50 rows=4 maxlength=256></textarea>
            <input type="submit" value="send">
        </form>
    </body>
</html>