<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="kosher catering service for jewish events">
    <meta name="keywords" content="kosher catering, kosher food, kosher event, kosher takeaway, jewish event food, jewish celebration food">
    <title>DANkosher | Take Away</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/5ead29c332.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>DAN<span class="highlight">kosher</span> <i class="fas fa-star-of-david"></i></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li class="current"><a href="takeaway.html">Take Away</a></li>
                    <li><a href="contactus.html">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <section id="newsletter">
        <div class="container">
            <h1>Suscribe To Our Newsletter</h1>
            <form> <!--action missing-->
                <input type="email" placeholder="Enter E-mail...">
                <button type="submit" class="button_1">Suscribe</button>
            </form>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="wh">
                <h1>Take Away!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <h1>Some extra info</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
            <aside id="sidebar">
                <div class="dark">
                    <h1>Some Info</h1>
                <p>Maybe a picture of the menu...</p>
                </div>
            </aside>
        </div>
    </section>

    <footer>
        <p>Kosher Catering Service, Copyright &copy; 2020</p>
    </footer>
</body> 
</html>  